=render "shared/header"

.area
  .area__left
    =render "mypages/side-bar"
  .area__right
    .area__right__content
      .area__right__content__logout
        %form{type:"submit",class:"area__right__content__logout__btn"}
          =link_to "ログアウト", root_path

=render "shared/sell-btn"
=render "shared/footer"